<center>
<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit 'Submit' %>
<% end %>
</center><br><br>


<% if @search && @merchants.empty? %>
  <h4>No Merchants matching '<%= @search %>'</h4>
<% elsif @search %>
  <h4>Merchants matching '<%= @search %>'</h4>
<% end %>

<div id='merchants'>
<% unless @merchants.nil? %>
  <% @merchants.each do |merchant| %>
    <p><%= link_to merchant.name, merchant_path(merchant.id) %></p>
  <% end %>
<% end %>
</div>